.header {
    font-size: 2rem;
    text-align: center;
    font-family: 'Press Start 2P';
    color: greenyellow;
}

body {
    font-family: 'Press Start 2P';
    font-size: 0.8rem;
    background-image: linear-gradient(120deg, rgb(58, 57, 57), rgb(76, 155, 30));
}



.imgUrl {
    font-family: 'Press Start 2P';
    font-size: 0.5rem;
}



.submitBtn {
    font-family: 'Press Start 2P';
    font-size: 1rem;
    background-color: yellowgreen;
    display: flex;
    justify-content: center;
}

.formContain {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 5%;

}

.meme-img {
    display: inline-block;
	margin: 1%;
	width: 500px;
	height: auto;
	text-align: center;
	position: relative;
	opacity: 1;
}


.imgContainer {
    padding: 5% 5% 5%;
    font-size: 2rem;
    position: relative;
}

.imgRow {
    font-size: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index:0;
}

.topText {
    position: absolute;
	top: 0;
	z-index: 9;
	max-height: 50%;
    font-size: 1rem;
    color: white;
    padding: 2% 2% 2%;
}

.botText {
    position: absolute;
	bottom: 0;
	z-index: 9;
	max-height: 50%;
    font-size: 1rem;
    color: white;
    padding: 2% 2% 2%;
}
